<div class="row g-0 bg-light position-relative">
  <div class="col-md-6 mb-md-0 p-md-4">
    <img src="<%= @product.path_to_image %>" class="w-100" alt="Image">
  </div>
  <div class="col-md-6 p-4 ps-md-0">
    <h5 class="mt-0">
      <%= @product.title %>
      <small class="text-muted">ID: <%= @product.id %></small>
    </h5>
    <p class="lead">
      <%= @product.description %>
    </p>
    <p>Another instance of placeholder content for this other custom component. It is intended to mimic what some real-world content would look like, and we're using it here to give the component a bit of body and size.</p>
    <p>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" <%= @product.is_spicy ? 'checked' : ''%> disabled>
        <label class="form-check-label" for="inlineCheckbox1">Spicy</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" <%= @product.is_veg ? 'checked' : ''%> disabled>
        <label class="form-check-label" for="inlineCheckbox2">Veg</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" <%= @product.is_offer ? 'checked' : ''%> disabled>
        <label class="form-check-label" for="inlineCheckbox3">Offer</label>
      </div>
    </p>
    <p class="lead">
      <span class="badge bg-primary">$<%= @product.price %></span>
    </p>
    <hr>
    <button type="button" class="btn btn-sm btn-outline-secondary" onClick="add_to_cart(<%= @product.id %>)">Add to Cart</button>
  </div>
</div><!-- /row -->